pippo<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="connectionStringORACLE" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = fina_db.regione.liguria.it)(PORT = 1521)))(CONNECT_DATA =(SID = EUROA)));User Id=NVA;Password=NVA;" providerName="Oracle.DataAccess.Client" />
		<add name="connectionStringORACLEGES" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = fina_db.regione.liguria.it)(PORT = 1521)))(CONNECT_DATA =(SID = EURO)));User Id=NVA;Password=NVA;" providerName="Oracle.DataAccess.Client" />
		<add name="connectionStringSICER" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = fina_db.regione.liguria.it)(PORT = 1521)))(CONNECT_DATA =(SID = SICER)));User Id=COEC_LIG_SVIL;Password=COEC_LIG_SVIL;" providerName="Oracle.DataAccess.Client"/>
	</connectionStrings>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="PathEseguibileControlli" value="C:\Progetti\CONTR\CONTROLLI\bin\x64\Debug\Controlli.exe"/>
		<add key="PathEseguibileContrFin" value="C:\Progetti\CONTRFIN\CONTRFIN\bin\x64\Debug\ContrFin.exe"/>
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime targetFramework="4.6" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />

		<modules>
			<remove name="WebDAVModule" />
		</modules>

		<handlers>
			<remove name="WebDAV" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />

			<add name="ExtensionlessUrlHandler-Integrated-4.0"
				 path="*."
				 verb="*"
				 type="System.Web.Handlers.TransferRequestHandler"
				 preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>

	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.112.1.0" newVersion="2.112.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>